.top-wrapper {
    display: flex;
    gap: 8%;
}

.left-block, .right-block {
    width: 50%;
}

.shop-info-section {
    margin-top: 100px;
}

.shop-info__name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.back-button {
    padding: 0 10px;
    background-color: white;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 3px #aaa;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.shop-info__name h2 {
    margin: 0;
    font-size: 30px;
}

.shop-info__image {
    margin-top: 30px;
}

.shop-info__image img {
    width: 100%;
}

.shop-info__tag-list {
    margin-top: 30px;
}

.shop-info__tag-list ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.shop-info__tag {
    list-style: none;
}

.shop-info__description {
    margin-top: 30px;
}

.shop-info__description p {
    margin: 0;
    white-space: pre-wrap;
}

.shop-info__review-link {
    margin-top: 30px;
}

.shop-info__review-link a {
    color: black;
}

.reserve-section {
    background-color: #305dff;
    border-radius: 6px;
    box-shadow: 2px 2px 3px #aaa;
    position: relative;
}

.form__inner {
    padding: 30px;
    padding-bottom: 100px;
}

.form__title h3 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: white;
}

.form__input {
    margin: 10px 0;
}

.form__input--date {
    padding: 8px;
    border: none;
    border-radius: 6px;
}

.form__input--select {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
}

.form__confirm {
    padding: 20px;
    background-color: #4d7fff;
    border-radius: 6px;
}

.confirm-table {
    color: white;
    text-align: left;
}

.confirm-table td {
    padding-left: 30px;
}

.form__button--submit {
    width: 100%;
    padding: 20px 0;
    border: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 16px;
    color: white;
    background-color: #0538ff;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.form__error {
    margin-top: 20px;
    padding: 20px;
    color: white;
    background-color: #cc4400;
    border-radius: 6px;
}

.error__title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.error__title img {
    width: 20px;
}

.bottom-wrapper {
    margin-top: 40px;
}

.review-section {
    margin-top: 40px;
}

.heading__text {
    margin: 0;
    padding: 4px 10px;
    background-color: #305dff;
    border-radius: 3px;
    color: white;
}

.review-section__body > div:nth-child(2) {
    margin-top: 14px;
}

.review-pagination {
    margin-top: 10px;
    text-align: right;
}

.review-section__heading {
    text-align: center;
}

.review-item {
    padding-bottom: 10px;
    border-top: solid 1px #aaa;
    display: flex;
}

.review-item:last-of-type {
    border-bottom: solid 1px #aaa;
}

.review-item__review-content {
    width: 100%;
}

.review-item__review-content > div {
    margin: 6px 0;
}

.review-content__edit-delete {
    display: flex;
    justify-content: right;
    align-items: end;
    gap: 16px;
}

.edit-delete__button {
    font-size: 14px;
    color: black;
}

.review-content__rating {
    display: flex;
    align-items: center;
    gap: 2px;
}

.review-content__rating .image--star {
    width: 24px;
    margin-right: 4px;
}

.review-date {
    margin-left: 10px;
    font-size: 14px;
}

.review-content__comment p {
    white-space: pre-wrap;
}

.review-content__image img {
    width: 100%;
}

/* 口コミ削除確認モーダル */
.review-delete-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 60%);
}

.review-delete-modal:target {
    display: flex;
}

.review-delete-modal-outer {
    width: 90%;
    max-width: 400px;
    max-height: 70%;
    margin: auto;
    padding: 20px;
    background-color: #eee;
    border-radius: 6px;
    text-align: center;
}

.review-delete-modal__message {
    margin: 0;
    color: black;
    font-weight: bold;
}

.review-delete-modal__message span {
    color: #D68700;
    font-size: 14px;
    font-weight: normal;
}

.review-delete-modal__button-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.review-delete-modal__button-wrapper form {
    width: 40%;
}

.review-delete-modal__button--submit {
    width: 100%;
    padding: 6px 16px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    background-color: #305dff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.review-delete-modal__button--cancel {
    width: 40%;
    padding: 6px;
    font-size: 14px;
    text-decoration: none;
    color: black;
    text-align: center;
    border: solid 1px black;
    border-radius: 6px;
    cursor: pointer;
}

/* ページネーションのカスタマイズ */
.review-pagination nav {
    display: inline-block;
}

.review-pagination ul {
    margin: 0;
    border: solid 1px #e0dfde;
    border-radius: 5px;
    background-color: white;
    display: flex;
}

.review-pagination a,
.review-pagination span {
    padding: 0 10px;
    text-decoration: none;
    font-size: 16px;
    color: #305dff;
    display: inline-block;
    cursor: pointer;
}

.review-pagination li:not(:last-child) {
    border-right: solid 1px #e0dfde;
}

.review-pagination .active {
    background-color: #305dff;
}

.review-pagination .active span {
    color: white;
}

/* レスポンシブ（タブレット） */
@media screen and (max-width: 960px) {
    .top-wrapper {
        display: block;
    }

    .left-block {
        width: 100%;
    }

    .right-block {
        margin-top: 40px;
        width: 100%;
    }
}

/* レスポンシブ（スマホ） */
@media screen and (max-width: 480px) {
    .confirm-table th, td{
        width: 100%;
        display: block;
    }

    .confirm-table td {
        padding-left: 10px;
    }

    .review-item {
        padding: 10px 0;
        border-top: solid 1px #aaa;
        display: block;
    }

    .review-item__reviewer {
        width: 100%;
        margin-bottom: 10px;
    }

    .review-item__review-content {
        width: 100%;
    }
}