.search-section {
    display: flex;
    justify-content: flex-end;
}

.search-form {
    padding: 10px;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 6px;
    box-shadow: 2px 2px 3px #aaa;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.form__sort,
.form__area,
.form__genre {
    display: flex;
    padding: 0 8px;
    border-right: solid 1px #ddd;
}

.form__sort select,
.form__area select,
.form__genre select {
    border: none;
}

.form__name {
    padding-left: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.form__name img {
    width: 20px;
}

.form__name input {
    border: none;
}

.shop-list-top {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-list-section {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 1%;
}

.shop-card {
    width: 24.25%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 3px #aaa;
}

.card-image,
.card-image img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card-content {
    padding: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.card-content__name h2 {
    margin: 0;
    font-size: 20px;
}

.card-content__tag-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.card-content__tag {
    font-size: 14px;
    list-style: none;
}

.card-content__rating {
    display: flex;
    align-items: center;
    gap: 2px;
}

.rating-value {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.card-content__rating .image--star {
    width: 18px;
}

.card-content__info {
    display: flex;
    align-items: center;
    gap: 4px;
}

.card-content__info img {
    width: 14px;
}

.card-content__info span {
    margin-right: 6px;
    font-size: 14px;
}

.card-content__button {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-detail {
    padding: 6px 16px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    background-color: #305dff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.button-favorite {
    margin: auto 0;
    width: 32px;
    cursor: pointer;
    display: block;
}

/* ページネーションカスタマイズ */
.pagination {
    text-align: right;
}

.pagination nav {
    display: inline-block;
}

.pagination ul {
    margin: 0;
    border: solid 1px #e0dfde;
    border-radius: 5px;
    background-color: white;
    display: flex;
}

.pagination a,
.pagination span {
    padding: 4px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #305dff;
    display: inline-block;
    cursor: pointer;
}

.pagination li:not(:last-child) {
    border-right: solid 1px #e0dfde;
}

.pagination .active {
    background-color: #305dff;
}

.pagination .active span {
    color: white;
}

/* レスポンシブ（タブレット） */
@media screen and (max-width: 960px) {
    .search-section {
        margin-top: 60px;
    }

    .search-form {
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }

    .shop-list-top {
        display: block;
    }

    .shop-card {
        width: 49%;
    }

    .shop-list-section {
        gap: 20px 2%;
    }
}

/* レスポンシブ（スマホ） */
@media screen and (max-width: 480px) {
    .search-section {
        margin-top: 60px;
        display: block;
        width: 100%;
    }

    .search-form {
        display: block;
    }

    .form__sort,
    .form__area,
    .form__genre {
        padding: 0 0 4px 0;
        margin-bottom: 4px;
        border: none;
        border-bottom: solid 1px #ddd;
    }
    .form__name {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .shop-card {
        width: 100%;
    }

    .pagination a,
    .pagination span {
        padding: 4px 10px;
    }
}