.thanks-wrapper {
    margin: 0 auto;
    padding-top: 160px;
    max-width: 480px;
}

.thanks-content {
    padding: 100px 40px;
    text-align: center;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 6px;
    box-shadow: 2px 2px 3px #aaa;
}

.thanks-content__text {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.thanks-content__button {
    margin-top: 20px;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    background-color: #305dff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
}

/* レスポンシブ（タブレット） */
@media screen and (max-width: 960px) {}

/* レスポンシブ（スマホ） */
@media screen and (max-width: 480px) {
    .thanks-wrapper {
        padding-top: 100px;
    }
    
    .thanks-content__text {
        text-align: left;
    }
}