.admin-mail-wrapper {
    margin: 0 auto;
    max-width: 800px;
}

.message {
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
}

.is_sent--true {
    color: #9CBAAB;
    background-color: #BCE1CF;
    border: solid 1px #9CBAAB;
    border-radius: 6px;
}

.is_sent--false {
    color: #FF475F;
    background-color: #FEADB8;
    border: solid 1px #FF475F;
    border-radius: 6px;
}

.admin-mail-content {
    border: solid 1px #959997;
    border-radius: 8px;
    box-shadow: 2px 2px 3px #aaa;
}

.admin-mail-content__heading {
    padding: 4px;
    background-color: #383838;
    border-bottom: solid 1px #959997;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.admin-mail-content__heading h2 {
    margin: 0;
    color: white;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: center;
}

.form-table {
    width: 100%;
}

.form-table tr {
    border-bottom: solid 1px #959997;
}

.form-table th {
    width: 20%;
    padding: 10px 20px;
    border-right: solid 1px #959997;
    font-weight: normal;
    text-align: left;
    background-color: #E0E5E3;
}

.form-table td {
    padding: 10px 20px;
}

.form-table__input--text {
    width: 100%;
    padding: 1px 4px;
    font-size: 14px;
}

.form__button {
    margin: 20px 0;
    text-align: center;
}

.form__button-submit {
    width: 40%;
    padding: 8px 0;
    color: white;
    background-color: #434343;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-table__error {
    margin-top: 4px;
    font-size: 14px;
    font-weight: bold;
    color: red;
}