.container {
    margin: 0 auto;
    max-width: 1230px;
}

.heading__shop-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.content {
    margin: 0 auto;
    max-width: 1000px;
}

.form__table {
    width: 100%;
}

.form__table th {
    width: 20%;
    padding: 10px 20px;
    border: solid 1px #959997;
    font-weight: normal;
    text-align: left;
    background-color: #E0E5E3;
}

.form__table td {
    padding: 10px 20px;
    border: solid 1px #959997;
}

.form__button {
    margin-right: 10px;
    padding: 4px 20px;
    color: white;
    background-color: #434343;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
