.container {
    margin: 0 auto;
    max-width: 1230px;
}

.message {
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
}

.result--true {
    color: #9CBAAB;
    background-color: #BCE1CF;
    border: solid 1px #9CBAAB;
    border-radius: 6px;
}

.result--false {
    color: #FF475F;
    background-color: #FEADB8;
    border: solid 1px #FF475F;
    border-radius: 6px;
}

.heading__shop-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.section__title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.calendar-top {
    padding: 10px 0;
    position: relative;
}

.calendar-top__year-month {
    text-align: center;
    font-weight: bold;
}

.calendar-top__button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    display: flex;
    align-items: center;
}

.button__this-month {
    padding: 4px 8px;
    font-size: 12px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    background-color: #F4F4F4;
    border: solid 1px #959997;
    border-radius: 4px;
    cursor: pointer;
}

.button__prev,
.button__next {
    padding: 3.5px 12px;
    border-radius: 0;
    background-color: #F4F4F4;
    border: solid 1px #959997;
    cursor: pointer;
}

.button__prev {
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.button__next {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.calendar-content__table {
    width: 100%;
    text-align: center;
}

.calendar-content__table tr {
    border: solid 1px #959997;
}

.calendar-content__table .table__header {
    width: calc(100% / 7);
    padding: 4px 0;
    border-right: solid 1px #959997;
    background-color: #F4F4F4;
    font-size: 12px;
}

.calendar-content__table .saturday {
    color: #3B9FDD;
    background-color: #EBF3F9;
}

.calendar-content__table .sunday {
    color: #CC3333;
    background-color: #F4D6D6;
}

.calendar-content__table .table__data {
    padding: 10px 4px;
    border-right: solid 1px #959997;
    vertical-align: top;
}

.calendar-content__table .table__data--gray {
    background-color: #DBDBDB;
}

.calendar-content__table .table__data--yellow {
    background-color: #FEFECC;
}

.calendar-content__table .table__days {
    margin: 0;
    line-height: 1;
    font-size: 14px;
}

.calendar-content__table .table__button {
    width: 100%;
    margin-top: 10px;
    padding: 1px 4px;
    line-height: 1.5;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #E8E8E8;
    font-size: 12px;
}

.calendar-content__table .table__button--blue {
    background-color: #599bc1;
    cursor: pointer;
}

.calendar-content__table .table__button--gray {
    background-color: #767676;
    cursor: pointer;
}

.time-schedule-section {
    margin-top: 40px;
}

.time-schedule-top {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.time-schedule-content {
    overflow-x: auto;
    white-space: nowrap;
}

.time-schedule-content__table {
    margin-top: 10px;
    text-align: left;
}

.time-schedule-content__table .columns {
    width: 150px;
    padding: 0 10px;
}

.time-schedule-content__table tr {
    border-top: solid 1px #959997;
    border-bottom: solid 1px #959997;
}

.time-schedule-content__table th {
    padding: 14px 0;
    border-right: solid 1px #959997;
}

.time-schedule-content__table .table__header {
    background-color: #F4F4F4;
    font-size: 14px;
}

.time-schedule-content__table .table__data {
    padding: 0;
    border-left: solid 1px #D7DDE0;
}

.time-schedule-content__table .cells {
    width: 50%;
    border-right: #CC3333;
}

.time-schedule-content__table .scroll-rock {
    padding: 15px 40px;
    font-size: 14px;
    position: sticky;
    left: 0;
}
.time-schedule-content__table .scroll-rock::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #959997;
    border-right: 1px solid #959997;
    border-bottom: 1px solid #959997;
    background-color: #F4F4F4;
    z-index: -1;
    box-sizing: content-box;
  }

.relative {
    position: relative;
}

.reservation-box {
    height: 90%;
    width: calc(151px * 2);
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    background-color: #F2CD5D;
    border: solid 1px #EAB002;
    border-radius: 6px;
    position: absolute;
    top: 5%;
    left: 0;
}

.display-only-sp {
    display: none;
}

.time-schedule-sp {
    margin-top: 10px;
    border: solid 1px #959997;
    border-radius: 6px;
}

.time-schedule-sp__top {
    padding: 4px 20px;
    background-color: #F4F4F4;
    border-bottom: solid 1px #959997;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.time-schedule-sp__top-date {
    font-weight: bold;
}

/* レスポンシブ（タブレット） */
@media screen and (max-width: 960px) {
    .table__button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* レスポンシブ（スマホ） */
@media screen and (max-width: 480px) {
    .calendar-top__year-month {
        text-align: left;
    }

    .display-only-pc {
        display: none;
    }
    .display-only-sp {
        display: block;
    }

    .table__button span{
        font-size: 10px;
        padding: 6px 0;
    }
}