.container {
    margin: 0 auto;
    max-width: 1230px;
}

.heading__shop-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.reservation-edit-content {
    margin: 0 auto;
    max-width: 1000px;
}

.form__table {
    width: 100%;
}

.form__table th {
    width: 20%;
    padding: 10px 20px;
    border: solid 1px #959997;
    font-weight: normal;
    text-align: left;
    background-color: #E0E5E3;
}

.form__table td {
    padding: 10px 20px;
    border: solid 1px #959997;
}

.form__button {
    margin-right: 10px;
    padding: 6px 20px;
    color: white;
    background-color: #434343;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* レスポンシブ（タブレット） */
@media screen and (max-width: 960px) {
    .form__table th, td{
        width: 100%;
        display: block;
    }

    .form__table th {
        padding: 4px 10px;
        border-bottom: none;
    }

    .form__table td {
        padding: 10px;
        border-bottom: none;
    }

    .form__table tr:last-child {
        border-bottom: solid 1px #959997;
    }
}

/* レスポンシブ（スマホ） */
@media screen and (max-width: 480px) {}